.navbar-brand {
    font-size: 1.8em;
}

.intro {
    font-style: italic;
}

.content {
    color: #000000;
    font-size: 12pt;
    text-align: justify;
}

.content input {
    margin : 5px;
    text-align: center;
}

.content input[type=submit] {
    margin: 60px 0 20px 0;
    padding: 5px 20px;
    font-size: 18pt;
}

.content h1 {
    margin-top: 70px;
    font-size: 16pt;
    font-weight: bold;
}

.p1 input,
.p4 input{
    width: 80px;
}

.p2 input,
.p3 input,
.p5 input {
    width: 140px;
}

.p6 input {
    width: 180px;
}

.p7 input {
    width: 240px;
}

.info tr {
    height: 35px;
    text-transform: uppercase;
}

.info tr:last-child {
    text-transform: none;
}

.info input {
    width: 500px;
    margin-left: 20px;
}

.thanks {
    margin: 30px;
    text-align: center;
}

.links {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    font-size: 12pt;
    text-align: center;
    color: #777;
}